<div>
  <h2 class="post-title">⚡ {{name}} ⚡</h2>
  <p class= "post-user"><span hidden id="post-id">{{id}}</span>Posted by: 
    {{user.first_name}}
    {{user.last_name}}
    on
    {{format_date date_created}}.
  </p>
  <div class="comments-container">    
    <div>      
      <div>
          <p class="post-text">
            {{text}}
          </p>
      </div>
      <button
        class="btn delete-post"
        data-delete-post-id="{{id}}"
        >Delete Post</button>
      </div>
  </div>
</div>